# Kratos Optimizer Access Transformers
# Hace publico el campo lastViewDistance de LevelRenderer
# para poder actualizarlo antes de cambiar el render distance
# y evitar que Minecraft dispare el reload de chunks
public-f net.minecraft.client.renderer.LevelRenderer f_109541_ # lastViewDistance
